# While Loop

In [1]:
number = 7
power = 2

while number <= 1000:
    number = number ** power
    power += 1

f"Number is {number} and power is {power}"

'Number is 117649 and power is 4'

#For Loop

In [2]:
# end keyword
for char in 'Programming':
    print(char, end='  ')

P  r  o  g  r  a  m  m  i  n  g

In [3]:
for char in 'Programming':
    print(char)

P
r
o
g
r
a
m
m
i
n
g

In [4]:
print(10, 20, 30)

10 20 30

In [5]:
#sep keyword
print(10, 20, 30, sep=', ')

10, 20, 30

In [6]:
# for with list
total = 0
for num in [2, -3, 0, 17, 9]:
    total += num
print(total)

25

In [7]:
# range function - counter controlled loop
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

In [8]:
# Total all integers ranging from 0 to 100000
# Note you need to provide ending vaule for range as 100001 
total = 0
for counter in range(100001):
    total += counter

print("sum is {0}".format(total))

sum is 5000050000

# Augmented Assignment

In [9]:
x = 12
x **= 2
print(x)

144

# sequence Controlled repetition

In [10]:
# find out average of class grades
grades = [66, 95, 84, 77, 98, 54, 65]
no_stud = len(grades)
total = 0
for grade in grades:
    total += grade
    avg = float(total / no_stud)
    
print("avg is ", avg)

avg is  77.0

# Sentinel controlled loop

In [11]:
# accept input grades and print average
# format specifier with 'f' function
total = 0
counter = 0

# stop input when -1 is entered
grade = int(input('Enter grade, -1 to end: '))
while grade != -1:
    total += grade
    counter += 1
    grade = int(input('Enter grade, -1 to end: '))

if counter != 0:
    avg = total / counter
    print(f'Class average grade is {avg:.2f}')
else:
    print('No grades were entered')

Enter grade, -1 to end: 10
Enter grade, -1 to end: 20
Enter grade, -1 to end: 30
Enter grade, -1 to end: 40
Enter grade, -1 to end: 90
Enter grade, -1 to end: -1
Class average grade is 38.00

# range

In [12]:
# start included, end not included
for numbers in range(5, 10):
    print(numbers)

5
6
7
8
9

In [13]:
for numbers in range(0, 10, 2):
    print(numbers)

0
2
4
6
8

In [14]:
# decreasing count not including second argument
# step of negative 2
for numbers in range(10, 0, -2):
    print(numbers, end=" ")

10 8 6 4 2

In [15]:
# sum even integers from 2 through 100
total = 0
for number in range(2, 101, 2):
    total += number
    
print(f"total is {total}")

total is 2550

In [16]:
# no output as you are starting with greater number
list(range(10, 0, 2))

[]

# Decimals

In [17]:
#floating point errors as they are stored in binary formats. 
#They are approximate.
from decimal import Decimal

In [18]:
principal = Decimal('1000.000')
rate = Decimal('0.05')
x = Decimal('10.5')
y = Decimal('2')

In [19]:
x + y

Decimal('12.5')

In [20]:
x // y

Decimal('5')

In [21]:
x += y
x

Decimal('12.5')

In [22]:
# interest a = p(1+r)**n
# p  prinicipal
# r rate of interest
# n number of years
# compound interest over 10 years
# with some interesting formatting.
for year in range(1, 11):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2}{amount:>10.2f}')

 1   1050.00
 2   1102.50
 3   1157.62
 4   1215.51
 5   1276.28
 6   1340.10
 7   1407.10
 8   1477.46
 9   1551.33
10   1628.89

In [23]:
# tax is 6.25 % and bill amount is 37.45.
# calculate total bill with tax
bill = Decimal('37.45')
tax_rate = Decimal('6.25')
total_bill = bill * (1 + tax_rate/100)

print(f'{bill:>2} {tax_rate:>5.2f} : total bill {total_bill:>4.2f}')

37.45  6.25 : total bill 39.79

# Break and Continue

In [24]:
for number in range(0,100):
    if number == 12:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11

In [25]:
# 5 is skipped
for number in range(0,10):
    if number == 5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

# boolean operators

In [26]:
gender = 'Female'
age = 70

if gender == 'Female' and age >= 65:
    print('Senior female')

Senior female

In [27]:
sem_avg = 83
final_exam = 95
if sem_avg >= 90 or final_exam >= 90:
    print('Grade is A')
else:
    print('Grade is B')

Grade is A

In [28]:
grade = 87
if not grade == -1:
    print('The next grade is ', grade)

The next grade is  87

# mean median and mode

In [30]:
grades = [85, 93, 45, 89, 85]
avg = sum(grades) /len(grades)
print(avg)

79.4

In [33]:
import statistics

In [34]:
statistics.mean(grades)

79.4

In [35]:
statistics.median(grades)

85

In [36]:
# you may not get the correct mode 
# if you are there are more than one equal values
# you get statistics error
statistics.mode(grades)

85

# sorted function

In [37]:
sorted(grades)

[45, 85, 85, 89, 93]

In [38]:
# grades is unchanged with sorted
grades

[85, 93, 45, 89, 85]