## Mathematical Set Operations

### Union

In [1]:
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [2]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

### Intersection

In [3]:
{1, 3, 5} & {2, 3, 4}

{3}

In [4]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{1, 3}

### Difference

In [5]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [6]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

{1, 5, 7}

### Symmetric Difference

In [7]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [8]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 4, 5, 7}

### Disjoint

In [9]:
{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [10]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

In [ ]:
# exercises

In [11]:
s1 = {10, 20, 30}
s2 = {5, 10, 15, 20}

In [12]:
# what operation for result {30}
s1- s2

{30}

In [13]:
s1.difference(s2)

{30}

In [14]:
# what operation for result {5, 15, 30}
s1.symmetric_difference(s2)

{5, 15, 30}

In [16]:
# what operation for result {5, 10, 15, 20, 30}
s1 | s2

{5, 10, 15, 20, 30}

In [17]:
s1.union(s2)

{5, 10, 15, 20, 30}

In [18]:
# what operation for {10, 20} output
s1 & s2

{10, 20}

In [19]:
s1.intersection(s2)

{10, 20}