In [1]:
 # reading from csv file into pandas library
 # wirting back to csv from pandas dataframe

In [2]:
import pandas as pd

In [3]:
!cat accounts.csv

In [4]:
# if names = [columns names ] is not provided then read_csv will use first line of text as column
df = pd.read_csv('accounts.csv', names=['account', 'name', 'balance'])

In [5]:
df

   account      name      balance
0      100     Jones        24.98
1      200       Doe      2345.67
2      300     White         0.00
3      400     Stone       -42.16
4      500      Rich       224.62
5      600  Ashish A  10000000.00

In [6]:
# writting to csv
# index=False means do not write index numbers into csv file.
df.to_csv('accounts_from_dataframe.csv', index=False)

In [7]:
!cat accounts_from_dataframe.csv

account,name,balance
100,Jones,24.98
200,Doe,2345.67
300,White,0.0
400,Stone,-42.16
500,Rich,224.62
600,Ashish A,10000000.0